.resume-container {
    font-weight:400;
    margin-top: 24px;
    background-color:black;
    color:white;
    border-radius: 3px;
    border: 1px solid white;
    cursor: pointer;
    /* box-shadow: 0 4px 3px -3px black; */
}

.resume-container:active{
    transform: translateY(2px);
}